@if (User.Identity.IsAuthenticated)
{
    <li class="nav-item">
        <form method="post" asp-controller="account" asp-action="logout">
            <button type="submit" style="width:auto"
                class="nav-link btn btn-link py-0">
                注销 @User.Identity.Name
            </button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" asp-controller="account" asp-action="register">
            注册
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="account" asp-action="login">
            登录
        </a>
    </li>
}